# Carpetas
DIR_WATCH      = ./watch
DIR_PROCESADO  = ./procesado
DIR_ERRORES    = ./errores
LOG_DIR        = ./logs

# Base de datos
DB_HOST        = localhost
DB_PORT        = 5432
DB_NAME        = sentinel_db
DB_USER        = sentinel_user
DB_PASSWORD    = sentinel_pass

